<div class="container-fluid">
  <div class="row justify-content-center my-5">
    <div class="col-6">
      <h1 class="text-center">My trips</h1>
      <div class="d-flex align-items-center bg-white my-3 px-3">
        <div class="flex-grow-1 p-2"> <strong>Trips</strong> </div>
        <%= link_to root_path do %>
          <div class="">
            <i class="far fa-plus-square"></i>
            <strong>New trip</strong>
          </div>
        <% end %>
      </div>

      <div class="trips-grid">
        <% @trips.each do |trip| %>
            <div class="card">
              <%= link_to trip_path(trip) do %>
                <%= image_tag ("https://source.unsplash.com/1600x900/?#{trip.destination.name},landscape"), :class => "card-img-top" %>
                <div class="card-body d-flex justify-content-around align-items-center">
                  <div class="flex-grow-1">
                    <p class="card-text"><%= trip.origin.name %> - <%= trip.destination.name %></p>
                  </div>
                  <div>
                    <%= link_to trip_path(trip), method: :delete, remote: :true do %>
                      <i class="far fa-trash-alt"></i>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
        <% end %>
      </div>
          <!-- Link to unbookmark the trip -->
          <div>
            <%= link_to trip_path(trip), method: :patch, remote: :true do %>
              <i class="fas fa-bookmark"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

