<div class="container-fluid">
  <div class="row justify-content-center my-5">
    <div class="col-10">

      <h1 class="text-center">My trips</h1>
      <div class="d-flex justify-content-end align-items-center bg-white my-4 mr-2">
        <%= link_to root_path do %>
          <!-- <div class=""> -->
            <!-- <i class="far fa-plus-square"></i> -->
            <span class="btn btn-falcony mb-2">New search</span>
          <!-- </div> -->
        <% end %>
      </div>
      <div class="trips-grid">
        <% @trips.each do |trip| %>
          <!-- Store the trip object inside @trip so that the model can have access to a specific trip's id -->
          <% @trip = trip %>
            <div class="card card-shadow">
              <%= link_to trip_path(trip) do %>
                <%= image_tag ("https://source.unsplash.com/1600x900/?#{trip.destination.name},landscape"), :class => "card-img-top" %>
              <% end %>
              <div class="card-body d-flex justify-content-between align-items-center p-3 mx-1">
                <%= link_to trip_path(trip) do %>
                  <div class="flex-grow-1">
                    <p class="card-text-countries-name"><%= trip.origin.name %> - <%= trip.destination.name %></p>
                  </div>
                <% end %>
                <div>
                  <!-- Use Trip's has_notification_for? method to check if a specific trip has a notification or not and render the bell accordingly -->
                  <% if trip.notify %>
                    <%= link_to disable_notifications_trip_path(trip), method: :patch, remote: :true do %>
                    <i class="fas fa-bell mr-1"></i>
                    <% end %>
                  <% else %>
                      <a href="" data-toggle="modal" data-target="#modalNotification"><i class="far fa-bell mr-1"></i></a>
                      <%= render 'notification_modal' %>

                  <% end %>
                  <%= link_to trip_path(trip), method: :delete, remote: :true do %>
                    <i class="fas fa-bookmark card-text-countries-name"></i>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
