  <div class="container-fluid col-10">


    <!-- Code pasted from Tiago for Select2 effect -->
    <div class="mt-5 d-flex p-0">
      <%= form_tag result_countries_path, method: :get do %>
        <div class="d-flex justify-content-center" id="results_search">
          <div class="d-flex align-items-center mr-3">
            Origin
            <div class="mx-3"><%= collection_select(:country, :origin, Country.all, :id, :name, { selected: session[:create_trip_origin_id]}, {class: ' min-width-select select2'}) %></div>
          </div>
          <div class="d-flex align-items-center mx-3">
            Destination
            <div class="mx-3"><%= collection_select(:country, :destination, Country.all, :id, :name, {selected: session[:create_trip_destination_id]}, {class: ' min-width-select select2'}) %></div>
          </div>
          <div>
            <%= submit_tag "Search", class: "btn btn-falcony mx-3" %>
          </div>
        </div>
      <% end %>
    </div>


    <!-- Resume of the Result and links to countries pages -->
    <div class="mt-5 d-flex align-items-center">
      <h1 class="flex-grow-1">From <%= link_to @origin.name, country_path(@origin) %> to <%= link_to @destination.name, country_path(@destination) %></h1>

      <% if user_signed_in? %>
        <!-- Render the bookmark icon differently dependending on where the user comes from. If the user comes from -->
        <% if URI(request.referer).path == "/" || URI(request.referer).path == "/countries/result" %>
          <!-- Add subscription -->
          <% if @trip.bookmarked.nil? || @trip.bookmarked == false %>
            <%= link_to trip_path(current_user.trips.last), method: :patch, remote: :true do %>
              <h1><i class="far fa-bookmark"></i></h1>
            <% end %>
          <% else %>
            <%= link_to trip_path(current_user.trips.last), method: :patch, remote: :true do %>
              <h1><i class="fas fa-bookmark"></i></h1>
            <% end %>
          <% end %>
        <% else %>
          <!-- Add subscription -->
          <% if @trip.bookmarked.nil? || @trip.bookmarked == false %>
            <%= link_to trip_path(@trip), method: :patch, remote: :true do %>
              <h1><i class="far fa-bookmark"></i></h1>
            <% end %>
          <% else %>
            <%= link_to trip_path(@trip), method: :patch, remote: :true do %>
              <h1><i class="fas fa-bookmark"></i></h1>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
      <!-- hidden form to submit the destination and origin to trip controller method create -->
      <div class="mb-3">
        <%= simple_form_for @trip do |f| %>

          <%= f.input :destination_id, :as => :hidden, :input_html => { :value => @destination.id } %>
          <%= f.input :origin_id, :as => :hidden, :input_html => { :value => @origin.id } %>

          <!-- show button to save trip - user get's directed to log-in/sign-up -->
          <!-- triggers create_trip_from_session (not really :) -->
          <% if !user_signed_in? %>
            <a href="" class='btn btn-primary' data-toggle="modal" data-target="#modalLoginForm">Save trip</a>
          <% end %>
          <!-- after user is logged in he is directed to the page where his saved trips are shown -> index page for trips -->
        <% end %>
      </div>
      <% end %>
    </div>


    <!-- First section -->
    <div class="card mb-5 col-12 p-0 card-shadow">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://images.unsplash.com/photo-1558617015-8564d52a638f" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Travel
            </h5>

            <!--  Open -->
            <div class="card-text">
              <% case @destination_open.status %>
              <% when "Y" %>
                <p>
                  <i class="fas fa-plane text-success mr-1"></i>
                  You can travel without limitations
                </p>
              <% when "N" %>
                <p>
                  <i class="fas fa-plane text-danger mr-1"></i>
                  You cannot travel to <%= @destination.name %>
                </p>
              <% when "WL" %>
                <p>
                  <i class="fas fa-plane text-warning mr-1"></i>
                  You can travel with limitations
                  <i class="far fa-question-circle text-black-50" data-toggle="collapse" data-target="#collapseDestinationOpen" aria-expanded="false" aria-controls="collapseDestinationOpen"></i>
                    <div id="collapseDestinationOpen" class="collapse" aria-labelledby="headingDestinationOpen" data-parent="#accordion">
                      <div class="card card-body">
                        <%== @destination_open.description %>
                      </div>
                    </div>
                </p>
              <% end %>
            </div>

            <!--  High Risk Areas -->
            <div class="card-text">
              <% case @destination_high_risk_areas.status %>
              <% when "Y" %>
                <p>
                  <i class="fas fa-street-view text-danger mr-2"></i>
                  All the country is under lockdown
                </p>
              <% when "N" %>
                <p>
                  <i class="fas fa-street-view text-success mr-2"></i>
                  There aren't any risk areas under lockdown
                </p>
              <% when "WL" %>
                <p>
                  <i class="fas fa-street-view text-warning mr-2"></i>
                  There are some risk areas under lockdown
                  <i class="far fa-question-circle text-black-50" data-toggle="collapse" data-target="#collapseDestionationAreas" aria-expanded="true" aria-controls="collapseDestionationAreas"></i>
                    <div id="collapseDestionationAreas" class="collapse" aria-labelledby="headingDestionationAreas" data-parent="#accordion">
                      <div class="card card-body">
                        <%== @destination_test.description %>
                      </div>
                    </div>
                </p>
              <% end %>
            </div>

            <!--  Quarantine -->
            <div class="card-text">
              <% case @destination_quarantine.status %>
              <% when "Y" %>
                <p>
                  <i class="fas fa-house-user text-success mr-1"></i>
                  No quarantine needed
                </p>
              <% when "N" %>
                <p>
                  <i class="fas fa-house-user text-danger mr-1"></i>
                  Quarantine needed
                  <i class="far fa-question-circle text-black-50" data-toggle="collapse" data-target="#collapseDestinationQuarantine" aria-expanded="true" aria-controls="collapseDestinationQuarantine"></i>
                    <div id="collapseDestinationQuarantine" class="collapse" aria-labelledby="headingDestinationQuarantine" data-parent="#accordion">
                      <div class="card card-body">
                        <%== @destination_quarantine.description %>
                      </div>
                    </div>
                </p>
              <% when "WL" %>
                <p>
                  <i class="fas fa-house-user text-warning mr-1"></i>
                  Quarantine is requested in some circumstances
                  <i class="far fa-question-circle text-black-50" data-toggle="collapse" data-target="#collapseDestinationQuarantine" aria-expanded="true" aria-controls="collapseDestinationQuarantine"></i>
                    <div id="collapseDestinationQuarantine" class="collapse" aria-labelledby="headingDestinationQuarantine" data-parent="#accordion">
                      <div class="card card-body">
                        <%== @destination_quarantine.description %>
                      </div>
                    </div>
                </p>
              <% end %>
            </div>

            <!--  Test -->
            <div class="card-text">
              <% case @destination_test.status %>
              <% when "Y" %>
                <p>
                  <i class="fas fa-vial text-success mr-2"></i>
                  No tests needed
                </p>
              <% when "N" %>
                <p>
                  <i class="fas fa-vial text-danger mr-2"></i>
                  You need a test to enter
                  <i class="far fa-question-circle text-black-50" data-toggle="collapse" data-target="#collapseDestinationTest" aria-expanded="true" aria-controls="collapseDestinationTest"></i>
                    <div id="collapseDestinationTest" class="collapse" aria-labelledby="headingDestinationTest" data-parent="#accordion">
                      <div class="card card-body">
                        <%== @destination_test.description %>
                      </div>
                    </div>
                </p>
              <% when "WL" %>
                <p>
                  <i class="fas fa-vial text-warning mr-2"></i>
                  Testing is requested in some circumstances
                  <i class="far fa-question-circle text-black-50" data-toggle="collapse" data-target="#collapseDestinationTest" aria-expanded="true" aria-controls="collapseDestinationTest"></i>
                    <div id="collapseDestinationTest" class="collapse" aria-labelledby="headingDestinationTest" data-parent="#accordion">
                      <div class="card card-body">
                        <%== @destination_test.description %>
                      </div>
                    </div>
                </p>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>


    <!-- Second section -->
    <div class="card mb-5 col-12 p-0 card-shadow">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://images.unsplash.com/photo-1563183969-a63149297766" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Local restrictions
            </h5>

            <!-- Restaurants -->
            <div class="card-text">
              <% case @destination_restaurants.status %>
              <% when "Y" %>
                <p>
                  <i class="fas fa-utensils text-success mr-2"></i>
                  Restaurants are open
                </p>
              <% when "N" %>
                <p>
                  <i class="fas fa-utensils text-danger mr-2"></i>
                  Restaurants are closed
                </p>
              <% when "WL" %>
                <p>
                  <i class="fas fa-utensils text-warning mr-2"></i>
                  Restaurants are open with limitations
                  <i class="far fa-question-circle text-black-50" data-toggle="collapse" data-target="#collapseDestinationRestaurants" aria-expanded="true" aria-controls="collapseDestinationRestaurants"></i>
                    <div id="collapseDestinationRestaurants" class="collapse" aria-labelledby="headingDestinationRestaurants" data-parent="#accordion">
                      <div class="card card-body">
                        <%== @destination_restaurants.description %>
                      </div>
                    </div>
                </p>
              <% end %>
            </div>

            <!-- Bars and cafes -->
            <div class="card-text">
              <% case @destination_bars_cafes.status %>
              <% when "Y" %>
                <p>
                  <i class="fas fa-beer text-success mr-2"></i>
                  Bars and cafes are open
                </p>
              <% when "N" %>
                <p>
                  <i class="fas fa-beer text-danger mr-2"></i>
                  Bars and cafes are closed
                </p>
              <% when "WL" %>
                <p>
                  <i class="fas fa-beer text-warning mr-2"></i>
                  Bars and cafes are open with limitations
                  <i class="far fa-question-circle text-black-50" data-toggle="collapse" data-target="#collapseDestinationBars" aria-expanded="true" aria-controls="collapseDestinationBars"></i>
                    <div id="collapseDestinationBars" class="collapse" aria-labelledby="headingDestinationBars" data-parent="#accordion">
                      <div class="card card-body">
                        <%==   @destination_restaurants.description %>
                      </div>
                    </div>
                </p>
              <% end %>
            </div>

            <!-- Gatherings -->
            <div class="card-text">
              <% if @destination_gatherings.description.length > 1 %>
                <p>
                  <i class="fas fa-bus text-warning mr-2"></i>
                  Restrictions on social gatherings
                  <i class="far fa-question-circle text-black-50" data-toggle="collapse" data-target="#collapseDestinationBars" aria-expanded="true" aria-controls="collapseDestinationBars"></i>
                    <div id="collapseDestinationBars" class="collapse" aria-labelledby="headingDestinationBars" data-parent="#accordion">
                      <div class="card card-body">
                        <%== @destination_gatherings.description %>
                      </div>
                    </div>
                </p>
              <% else %>
                <p>
                  <i class="fas fa-bus text-success mr-2"></i>
                  No restrictions on social gatherings
                </p>
              <% end %>
            </div>

            <!-- Are museums & heritage sites open? -->
            <div class="card-text">
              <% case @destination_museums.status %>
              <% when "Y" %>
                <p>
                  <i class="fas fa-landmark text-success mr-2"></i>
                  Museums & heritage sites are open
                </p>
              <% when "N" %>
                <p>
                  <i class="fas fa-landmarktext-danger mr-2"></i>
                  Museums & heritage sites are closed
                </p>
              <% when "WL" %>
                <p>
                  <i class="fas fa-landmark text-warning mr-2"></i>
                  Museums & heritage sites are open with limitations
                  <i class="far fa-question-circle text-black-50" data-toggle="collapse" data-target="#collapseDestinationBars" aria-expanded="true" aria-controls="collapseDestinationBars"></i>
                    <div id="collapseDestinationBars" class="collapse" aria-labelledby="headingDestinationBars" data-parent="#accordion">
                      <div class="card card-body">
                        <%== @destination_museums.description %>
                      </div>
                    </div>
                </p>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>


    <!-- Third section -->
    <h2 class="mt-5 text-right">Coming back</h2>

     <div class="card mb-5 col-12 p-0 card-shadow">
      <div class="row no-gutters">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Travel
            </h5>

            <!-- Open -->
            <div class="card-text">
              <% case @origin_open.status %>
              <% when "Y" %>
                <p>
                  <i class="fas fa-plane text-success mr-1"></i>
                  You can travel without limitations
                </p>
              <% when "N" %>
                <p>
                  <i class="fas fa-plane text-danger mr-1"></i>
                  You cannot travel to <%= @destination.name %>
                </p>
              <% when "WL" %>
                <p>
                  <i class="fas fa-plane text-warning mr-1"></i>
                  You can travel with limitations
                  <i class="far fa-question-circle text-black-50" data-toggle="collapse" data-target="#collapseOriginOpen" aria-expanded="true" aria-controls="collapseOriginOpen"></i>
                    <div id="collapseOriginOpen" class="collapse" aria-labelledby="headingOriginOpen" data-parent="#accordion">
                      <div class="card card-body">
                        <%== @origin_open.description %>
                      </div>
                    </div>
                </p>
              <% end %>
              </div>

            <!--  Quarantine -->
            <div class="card-text">
              <% case @origin_quarantine.status %>
              <% when "Y" %>
                <p>
                  <i class="fas fa-house-user text-success mr-1"></i>
                  No quarantine needed
                </p>
              <% when "N" %>
                <p>
                  <i class="fas fa-house-user text-danger mr-1"></i>
                  Quarantine needed
                  <i class="far fa-question-circle text-black-50" data-toggle="collapse" data-target="#collapseOriginQuarantine" aria-expanded="true" aria-controls="collapseOriginQuarantine"></i>
                    <div id="collapseOriginQuarantine" class="collapse" aria-labelledby="headingOriginQuarantine" data-parent="#accordion">
                      <div class="card card-body">
                        <%== @origin_quarantine.description %>
                      </div>
                    </div>
                </p>
              <% when "WL" %>
                <p>
                  <i class="fas fa-house-user text-warning mr-1"></i>
                  Quarantine is requested in some circumstances
                  <i class="far fa-question-circle text-black-50" data-toggle="collapse" data-target="#collapseOriginQuarantine" aria-expanded="true" aria-controls="collapseOriginQuarantine"></i>
                    <div id="collapseOriginQuarantine" class="collapse" aria-labelledby="headingOriginQuarantine" data-parent="#accordion">
                      <div class="card card-body">
                        <%== @origin_quarantine.description %>
                      </div>
                    </div>
                </p>
              <% end %>
            </div>

            <!--  Test -->
            <div class="card-text">
              <% case @origin_test.status %>
              <% when "Y" %>
                <p>
                  <i class="fas fa-vial text-success mr-2"></i>
                  No tests needed
                </p>
              <% when "N" %>
                <p>
                  <i class="fas fa-vial text-danger mr-2"></i>
                  You need a test to enter
                  <i class="far fa-question-circle text-black-50" data-toggle="collapse" data-target="#collapseOriginTest" aria-expanded="true" aria-controls="collapseOriginTest"></i>
                    <div id="collapseOriginTest" class="collapse" aria-labelledby="headingOriginTest" data-parent="#accordion">
                      <div class="card card-body">
                        <%== @origin_test.description %>
                      </div>
                    </div>
                </p>
              <% when "WL" %>
                <p>
                  <i class="fas fa-vial text-warning mr-2"></i>
                  Testing is requested in some circumstances
                  <i class="far fa-question-circle text-black-50" data-toggle="collapse" data-target="#collapseOriginTest" aria-expanded="true" aria-controls="collapseOriginTest"></i>
                    <div id="collapseOriginTest" class="collapse" aria-labelledby="headingOriginTest" data-parent="#accordion">
                      <div class="card card-body">
                        <%== @origin_test.description %>
                      </div>
                    </div>
                </p>
              <% end %>
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <img src="https://images.unsplash.com/photo-1558617015-8564d52a638f" class="card-img" alt="...">
        </div>
      </div>
    </div>
  </div>
