<h1>Pages#home</h1>

<!-- form for creating a trip -->
<%= simple_form_for @trip do |f| %>
  <%= f.input :destination_id, collection: Country.all %>
  <%= f.input :origin_id, collection: Country.all %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>

<!-- basic html structure for every page -->


<!-- basic components -->


<!-- buttons -->
<br>
<br>
<br>
<br>
<%= link_to "New Button", "#", class: 'btn-falcony' %>

<!-- cards -->
<br>
<br>
<br>
<br>

<div class="card-country">
  <div class="">
	<h2>Country A (Colapsed)</h2>
	<br>
	<p>Country description with <strong>relevant info</strong> and links to more info</p>
  </div>
  <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Falco_peregrinus_good_-_Christopher_Watson.jpg">
    
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<div class="card-country" id="expanded">
  <div class="">
	<h2>Country A (Expanded)</h2>
	<br>
	<p>Country description with <strong>relevant info</strong> and links to more info</p>
	<p>Can I travel here?</p>
	<p>Do I need tests?</p>
	<p>Do I need masks in public?</p>
	<p>Do I need to commit?</p>
	<p>Can I push to master?</p>
	<p>--------------</p>
	<p>--------------</p>
	
	<p>--------------</p>
	<p>--------------</p>
  </div>
  <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Falco_peregrinus_good_-_Christopher_Watson.jpg">
    
  </div>
</div>
<br>
<br>
<br>
<br>
<br>

