<!-- Navbar -->
<div class="container-fluid p-0">
  <!-- Section 1: Banner with title, and create trip form -->
  <div class="row">
    <div class="banner-landing-1" style="background-image: linear-gradient(rgba(10, 10, 10, 0.8), rgba(220, 220, 200, 0.1)), url('<%= image_path "landing_page/banner-1.jpg"%>'); ">
      <h1 id="headline-banner-1">Where do you want to go?</h1>
      <p id="subheadline-banner-1">Find all important COVID-19 related travel infos</p>
      <!-- search form for creating a trip -->
      <div class="form-trip">
        <%= form_tag result_countries_path, method: :get do %>
        <div class="d-flex justify-content-center">
          <div class="form-trip-input" ><%= collection_select(:country, :origin, Country.all, :id, :name,{}, {class: 'min-width-select'}) %></div>
          <div class="form-trip-input"><%= collection_select(:country, :destination, Country.all, :id, :name,{}, {class: 'min-width-select'}) %></div>
        </div>
        <div class="text-center">
          <%= submit_tag "Search", class: "form-trip-button btn btn-falcony" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>





  <!-- Section 2: First info section explaining falcony -->

  <!-- Section 3: Second info section about the bookmark and notification feature -->

  <!-- Section 4: Third info section with info that Falcony is trustable and maybe references/testimonials -->




  <div class="card-feature justify-content-evenly" id="content-a">
    <div>
        <img src="https://images.unsplash.com/photo-1593437886622-34881819f1d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1590&q=80" alt="Search">
    </div>
    <div class="description">
    	<h1>Get informed</h1>
    	<br>
    	<p> Get all <strong>relevant info</strong> regarding the countries you want to travel to and from</p>
    </div> 
  </div>

  <div class="card-feature" id="content-b">
    <div class="description">
        <h1>Dive deep</h1>
        <br>
        <p> See <strong>detailed</strong> descriptions for each country</p>
        <p>Analise all the restrictions in place</p>
        <p>Compare countries</p>
    </div>
    <div>
        <img src="https://images.unsplash.com/photo-1590608897129-79da98d15969?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Search">
    </div>
  </div>

  <div class="card-feature justify-content-around" id="content-c">
    <div>
        <img src="https://images.unsplash.com/photo-1590488357944-a71ec5581dfe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80" alt="Search">
    </div>
    <div class="description p-1">
      <h1>Get updated</h1>
      <br>
      <p> Receive <strong>notifications</strong> everytime there is a new update in any of the countries </p>
    </div> 
  </div>
  

</div>
<br>
<br>
<br>
