<div id="accordion">
  
  <%= render 'shared/show_a_trip' %>

  <!-- hidden form to submit the destination and origin to trip controller method create -->
  <div>
    <%= simple_form_for @trip do |f| %>

      <%= f.input :destination_id, :as => :hidden, :input_html => { :value => @destination.id } %>
      <%= f.input :origin_id, :as => :hidden, :input_html => { :value => @origin.id } %>

      <!-- show button to save trip - user get's directed to log-in/sign-up -->
      <!-- triggers create_trip_from_session (not really :) -->
      <% if user_signed_in? %>
        <%= f.button :submit, 'Save trip', class: 'btn btn-primary my-5' %>
      <% else %>
        <a href="" class='btn btn-primary' data-toggle="modal" data-target="#modalLoginForm">Save trip</a>
      <% end %>
      <!-- after user is logged in he is directed to the page where his saved trips are shown -> index page for trips -->
    <% end %>
  </div>

</div>
