<div class="container-fluid">

  <div class="wrapper"></div>

  <!-- headline - country name and animated flag -->
  <div class="d-flex justify-content-center">
    <h1 class="mr-5"><%= @country.name %></h1>
    <h1>placeholder for flag</h1>
  </div>

  <div class="wrapper"></div>

  <!-- travel indications -->

  <%= @country.indications %>





  <div class="wrapper"></div>

  <!-- information about cases -->
  <div class="card-cases">

    <!-- new_cases average of last two weeks -->
    <%= @last_two_weeks_average_new_cases %>

    <!-- icon (green arrow down, red arrow up) that shows trend -->
    <% if @trend == true %>
      <p>insert green arrow down</p>
    <% else %>
      <p>insert red arrow up</p>
    <% end %>

    <!-- total_deaths per population -->
    <%= @deaths_pop %>

    <!-- tests divided by the number of cases -->
    <%= @tests_per_case  %>

    <!-- new tests last week -->
    <%= @new_tests_last_week  %>

    <!-- total_tests -->
    <%= @total_tests %>

    <!-- stringency index interpretation -->
    <%= @stringency_index %>

    <!-- last updated at -->
    <%= @update_date %>

  </div>



  <div class="wrapper"></div>

</div>

<!-- link one step back -->

<!-- link back to create a new search - landing page if not looged in - trip details page if logged in -->

