<div class="container-fluid">
  <div class="row">

   <!--  Banner with country name -->
    <div class="container banner-country-show" style="background-image: linear-gradient(rgba(10, 10, 10, 0.1), rgba(50, 50, 50, 0.05)), url('https://source.unsplash.com/1600x900/?<%= @country.name %>,landscape'); ">
      <!-- headline - country name and animated flag -->
      <div class="banner-country-title d-flex justify-content-center align-items-center">
        <h1 class="mr-5"><%== @country.name %> <%= image_tag ("https://www.countryflags.io/#{@alpha_codes[@country.name]}/flat/64.png") %></h1>
      </div>
    </div>
  </div>

  <!-- align to the right width -->
  <div class="container-width-1140">
    <!-- travel indications -->

    <!-- categories to choose from - filter -->
    <ul class="nav nav-tabs card-indications-menu justify-content-center" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="travel-tab" data-toggle="tab" href="#travel" role="tab" aria-controls="travel" aria-selected="true">Travel</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="healthSafety-tab" data-toggle="tab" href="#healthSafety" role="tab" aria-controls="healthSafety" aria-selected="false">Health & Safety</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="services-tab" data-toggle="tab" href="#services" role="tab" aria-controls="services" aria-selected="false">Services</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">

      <!-- first tab - travel -->
      <div class="tab-pane fade show active" id="travel" role="tabpanel" aria-labelledby="travel-tab">
        <!-- Travel -->
        <div class="card-indications">
          <% if @open.description.length > 1 %>
            <h4>Flight restrictions</h4>
            <p><%== @open.description %></p>
          <% else %>
            <p>Sorry, there is no information available. Most probably there are no restrictions. Check with the local government website.</p>
          <% end %>
        </div>
      </div>

      <!-- second tab - Health & Safety -->
      <div class="tab-pane fade" id="healthSafety" role="tabpanel" aria-labelledby="healthSafety-tab">
        <div class="card-indications">
          <% if @masks_in_public.description.length <= 1 && @masks_in_public.description.length <= 1 && @health_protocols.description.length <= 1 %>
            <p>Sorry, there is no information available. Most probably there are no restrictions. Check with the local government website.</p>
          <% end %>
          <% if @masks_in_public.description.length > 1 %>
            <h4>Duty to wear masks</h4>
            <p><%== @masks_in_public.description %></p>
          <% end %>
          <% if @physical_distancing.description.length > 1 %>
            <h4>Physical distancing measures</h4>
            <p><%== @physical_distancing.description %></p>
          <% end %>
          <% if @health_protocols.description.length > 1 %>
            <h4>Health protocols</h4>
            <p><%== @health_protocols.description %></p>
          <% end %>
        </div>
      </div>

      <!-- second tab - Services -->
      <div class="tab-pane fade" id="services" role="tabpanel" aria-labelledby="services-tab">
        <div class="card-indications">
          <% if @gatherings.description.length <= 1 && @high_risk_areas.description.length <= 1 && @tourism_accomodations.description.length <= 1 && @restaurants.description.length <= 1 && @public_transportation.description.length <= 1 %>
            <p>Sorry, there is no information available. Most probably there are no restrictions. Check with the local government website.</p>
          <% end %>
          <% if @gatherings.description.length > 1 %>
             <h4>Rules for gatherings</h4>
            <p><%== @gatherings.description %></p>
          <% end %>
          <% if @high_risk_areas.description.length > 1 %>
             <h4>Areas of high risks</h4>
            <p><%== @high_risk_areas.description %></p>
          <% end %>
          <% if @tourism_accomodations.description.length > 1 %>
             <h4>Accomodations</h4>
            <p><%== @tourism_accomodations.description %></p>
          <% end %>
          <% if @restaurants.description.length > 1 %>
            <h4>Restaurants</h4>
            <p><%== @restaurants.description %></p>
          <% end %>
          <% if @bars_cafes.description.length > 1 %>
            <h4>Bars / Cafes</h4>
            <p><%== @bars_cafes.description %></p>
          <% end %>
          <% if @beaches.description.length > 1 %>
            <h4>Beaches</h4>
            <p><%== @beaches.description %></p>
          <% end %>
          <% if @museums.description.length > 1 %>
            <h4>Museums</h4>
            <p><%== @museums.description %></p>
          <% end %>
          <% if @personal_services.description.length > 1 %>
            <h4>Personal services</h4>
            <p><%== @personal_services.description %></p>
          <% end %>
          <% if @places_of_worship.description.length > 1 %>
            <h4>Places of worship</h4>
            <p><%== @places_of_worship.description %></p>
          <% end %>
          <% if @public_transportation.description.length > 1 %>
            <h4>Public transportation</h4>
            <p><%== @public_transportation.description %></p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="wrapper"></div>

    <!-- information about cases -->
    <div class="card-cases">
      <div class="cases-info mx-3">
        <div class="population-and-daily-cases d-flex align-items-center">
          <div class="population">
            <!-- population -->
            <% if @population %>
              <h3>Population</h3>
              <P><%== @population.to_s.reverse.gsub(/...(?=.)/,'\& ').reverse %></P>
            <% end %>
          </div>
          <div class="daily-cases flex-grow-1">
            <!-- insert graph with actual new case numbers -->
            <h3 >Daily cases</h3>
            <div id="chartdiv"></div>
          </div>
        </div>
        <div class="total-cases">
          <!-- total_cases -->
          <% if @total_cases %>
            <h3>Total cases</h3>
            <P><%== @total_cases.to_s.reverse.gsub(/...(?=.)/,'\& ').reverse %></P>
          <% end %>
        </div>
        <div class="total-deaths">
          <!-- total_deaths -->
          <% if @total_deaths %>
            <h3>Total deaths</h3>
            <P><%== @total_deaths.to_s.reverse.gsub(/...(?=.)/,'\& ').reverse  %></P>
          <% end %>
        </div>
        <div class="mortality">
          <!-- mortality -->
          <% if @mortality %>
            <h3>Mortality</h3>
            <P><%== @mortality %>%</P>
            <p><small>Percentage of total population that died with COVID</small></p>
          <% end %>

        </div>
        <div class="morbidity">
          <!-- morbidity -->
          <% if @morbidity %>
            <h3>Morbidity</h3>
            <P><%== @morbidity %>%</P>
            <p><small>Percentage of infeced that died due to COVID</small></p>
          <% end %>
        </div>
        <div class="total-tests">
          <% if @total_tests %>
            <h3>Total tests done</h3>
            <P><%== @total_tests %></P>
          <% end %>
        </div>
        <div class="test-rate">
          <!-- morbidity -->
          <% if @tests_per_case %>
            <h3>Test per positive case</h3>
            <P><%== @tests_per_case %></P>
          <% end %>
        </div>
      </div>

      <!-- icon (green arrow down, red arrow up) that shows trend -->
      <% if @trend %>
        <h3>Trend</h3>
        <% if @trend == true %>
          <p>insert green arrow down</p>
        <% else %>
          <p>insert red arrow up</p>
        <% end %>
      <% end %>

      <!-- last updated at -->
      <P>Last updated on <%== @update_date %></P>
    </div>
  </div>

  <div class="wrapper"></div>
</div>
