<!DOCTYPE html>
<html>
  <head>
    <title>Falcony</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- loading for mapbox -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />

    <!-- loading for gon gem -->
    <%= Gon::Base.render_data %>

    <!-- loading for javascript -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body id="content-wrap">
    <%= render 'shared/desktop_navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
    <%= render 'shared/login_modal' %>
    <%= render 'shared/desktop_footer' %>
  </body>
</html>
